{% extends "layout9.html" %}

{% block title %}
Cheap Eats, Cheap Drinks
{% endblock %}

{% block main %}



            <main>
            <h3> Mission</h3>
            <p align="left">Dealbly curates thousands of deals into a simple, understandle format, this is the one stop shop for all socialites in Manhattan to find more reasably priced ways to have fun. Everyday, we continue to grow our outreach throughout the city, and continue to find more ways for you to save money doing the things you love.</p>

            <h3 align="left">How do we ensure live deals are always up to date?</h3>
            <p align="left">Dealbly uses a combination of computer vision and advanced webscraping to constantly check all of our partners current deals. You'll never have to worry about showing up to your favorite (or new favorite) bar and the deal have been expired.</p>

            <h3 align="left"> Contact Us</h3>
            <p align="left"> Your feedback is crutial to our success, and we would love to hear from you. You can contact us with any and all questions or suggestions at kevin@dealbly.com</p>
            </main>





{% endblock %}