@import 'https://fonts.googleapis.com/css?family=Oswald';

.container
{
    /* center contents */
    height:92%;
    width:63%;
    margin-left: 0;
    float:left;
    float:bottom;
    text-align: center;
    display: inline;
    margin-top:6%;
    margin-right:0%;

}
.register
{
    /* center contents */
    height:0%;
    width:100%;
    margin-left: 0;
    margin-right: auto;
    text-align: center;
    display: block;
    background-color:#2e944b;
}
.headerstuff
{
    /* center contents */
    height:0%;
    width:100%;
    margin-left: 0;
    margin-right: auto;
    text-align: center;
    display: block;
}

/* colors for navbar */
.navbar-default .navbar-brand .blue
{
    color: #537fbe;
    width: 100%;
}
.navbar-default .navbar-brand .red
{
    color: #ea433b;
}
.navbar-default .navbar-brand .yellow
{
    color: #f5b82e;
}
.navbar-default .navbar-brand .green
{
    color: #2e944b;
}

.navbar-default .navbar-brand .white
{
    color: #ffffff;
    font-family: 'Oswald';
    font-size:65px;
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

main td
{
    /* left-align tables' cells */
    text-align: left;
}

.googlemaps
{
    /* height of these elements */
    height: 92%;

    width: 37%;
    /* no margin around these elements */

    position:fixed;
    bottom: 0;
     right: 0;

    /* disable scrollbars */
    /*overflow: hidden;*/

    /* no padding within these elements */
    padding: 0;
}

#map-canvas
{
    /* height of these elements */
    height: 100%;

    width: 100%;
    /* no margin around these elements */





    /* disable scrollbars */
    /*overflow: hidden;*/

    /* no padding within these elements */
    padding: 0;
}


.clearfix{
    clear:both;
}

html, body{
    height:100%;
    margin:0;
    padding:0;
}

table{counter-reset:section;}
.count:before
{
counter-increment:section;
content:counter(section);
}

.topbar
{
    /* center contents */
    height:0%;
    width:100%;
    margin-left: 0;
    margin-right: 0;

}

.tt-menu
{
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 1px;
    max-height: 150px;
    overflow-y: auto;
    width: 300px;
}
.tt-suggestion.tt-cursor {
    background-color: #0097cf;
    color: #fff;
    cursor: pointer;
}
.tt-suggestion {
    margin: 0;
    padding: 6px 12px;
}
.thosm {
  font-family: Oswald, sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  background-color: #48a0dd;
  padding-top: 9em;
  padding-bottom: 10em;
}